/* for font family  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

/* shared style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}


.disply-sizing {
    max-width: 1060px;
    margin: 0 auto;

}
@font-face {
    font-family: 'Miama';
    src: url('./font/Miama.otf') format('woff2'),
         url('./font/Miama.ttf') format('woff');
}
.shape-text {
    font-family: "Dancing Script", cursive;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 4.875rem;
}

/* shared style  */

/* header section style  */

.header-container {
    /* max-width: 1440px;
    margin: 0 auto; */
    height: 100%;
    background-image: linear-gradient(rgb(22, 22, 22), rgb(35, 35, 35), rgb(9, 9, 9));
}

/* nav menu section  */

.hamburger-icon {
    height: 24px;
    width: 24px;
    display: none;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.nav-item {
    list-style: none;
    padding: 8px 20px;
    margin-right: 27px;
    border-radius: 46px;
    margin: 4px;
}

.home {
    background-color: rgb(230, 83, 60);
    margin: 4px;
}

.nav-item:hover {
    background-color: rgb(230, 83, 60);
}

.nav-items ul {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    font-weight: 400;
    color: white;
}


.site-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;

}

/* banner section design  */
.banner-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 167px;
}

.banner-content {
    width: 520px;
    height: 100%;
}

.banner-image img {
    height: 100%;
    width: 100%;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    font-weight: 800;
    /* margin-top: 90px; */
}

.banner-description {
    margin: 28px 0px;
}

/* button section  */
.banner-btn {
    display: flex;
    gap: 24px;
}

.primary-btn,
.secondary-btn {
    background-color: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
}

.secondary-btn {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

/* image size boxes style  */
.first-transparent-box,
.second-transparent-box {
    position: relative;
    height: 96px;
    width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    top: 511px;
    right: 120px;
}

.second-transparent-box {
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    top: -460px;
    right: -214px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    padding-left: 24px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 23px;
}

.transparent-text {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.transparent-text-2 {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.transparent-text3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}

/* your habbit section start here  */
.your-habbit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 100px 0px;
}

.habbit-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 54px;
    gap: 45px;
}

.image-child {
    width: 231px;
    height: 274px;
}

.image-child img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.habbit-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin: 14px 0px;
}

.habbit-description {
    width: 671px;
    margin: 14px 0px;
}

.habbit-image-container h3 {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 0px;
}

/* run extra section start here  */
.run-extra-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 18px;
    width: 100%;
    height: 400px;
    background: rgb(34, 34, 34);
}

.run-extra-content {
    padding-left: 50px;
    width: 50%;
}

.run-extra-title {
    font-size: 3.5rem;
    font-weight: 800;
}

.run-extra-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin: 28px 0px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.run-extra-img img {
    width: 366px;
    height: 312px;
    border-radius: 16px;
}

.run-extra-second-img {
    display: none;
}

/* training section start here  */
.training-container {
    margin: 100px 0px;
}

.training-content h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.training-content{
    width: 671px;
    margin-bottom: 50px;
}

.training-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.training-box {
    height: 220px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.training-images1 {
    width: 230px;
    background-image: linear-gradient(90deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url("./images/exercise1.jpg");
}

.training-images2 {
    width: 600px;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("./images/exercise2.png");

}

.training-images3 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/exercise3.png");
    background-position: center;
}

.training-images4 {
    width: 435px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/exercise4.png");
}

.training-images6 {
    width: 320px;
    background-image: linear-gradient(90deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url("./images/exercise6.jpg");
}

.training-images5 {
    background-image: linear-gradient(90deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url("./images/exercise5.jpg");
}

/* bmi section start here  */
.bmi-text {
    margin: 80px 0px;
    /* width: 671px; */
    padding-left: 195px;
}

.bmi-text h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-container {
    height: 100%;
    background: rgb(34, 34, 34);
    margin: 100px 0px;
    margin: 0 auto;

}
.hidden-para{
    display: none;
}

.bmi-first-side table,
tr,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 12px 10px;
}

.bmi-table thead {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.bmi-cal-text {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
}

.bmi-child-container {
    height: 100%;
    border: 0.1px solid rgba(0, 0, 0, 0);
}

.bmi-child {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* bmi second side design  */
.bmi-second-side {
    width:60%;
}

.bmi-second-side input,
#gender {
    width: 270px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin: 5px;
    border: none;

}

.input-5th {
    display: block;
    height: 48px;
    width: 555px;
    margin: 5px 0px 34px 5px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.bmi-second-side input,
select {
    color: rgb(8, 8, 8);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.second-side-content h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;

}

.second-side-content p {
    margin-bottom: 34px;
}

/* meet our team section start here  */
.meet-our-team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 78px;
    margin-bottom: 100px;
}

.meet-content {
    width: 671px;
}

.meet-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.team-image {
    width: 326px;
    height: 272px;
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer1.png");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
}

.team-image h1 {
    font-size: 1.125rem;
}

.team-bg2 {
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer2.png");
}

.team-bg3 {
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer3.png");
}

.team-bg4 {
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer4.png");
}

.team-bg5 {
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer5.png");
}

.team-bg6 {
    background-image: linear-gradient(0deg, rgba(16, 16, 16, 0.84), transparent), url("./images/trainer6.png");
}

/* footer section design start here  */
footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding-top: 66px;
    margin-bottom: 76px;
}

.footer-first-section {
    width: 40%;
}
.footer-second-section-container{
    display: flex;
    gap: 150px;
}

.footer-first-section h1 {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-second-section h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.footer-second-section li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-second-section li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
}

.footer-hr {
    height: 0px;
    /* background: rgb(185, 185, 185); */
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}

.copyright-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 36px;
}

/* extra section design start here  */
 .flexible-plan-child{
    margin: 100px 0px;
 }
 .plans-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
 .plans-content h1{
    font-size: 3.375rem;
    font-weight: 900;
    margin-bottom: 30px;
 }
.plan-cards-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;

}
 .plan-card{
    width: 100%;
    height: 440px;
    border: 1px solid #7C7C7C;
    background-color: #2B2B2B;
    text-align: center;
 }
 .plan-amount{
    font-size: 3rem;
 }

 .plan-name p{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
 }
 .plan-name h1{
    color: rgb(255, 72, 44);
    margin-bottom: 20px;
 }

 .plan-days{
    background-color: #393937;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0px;
 }
 .checkmark-list{
    width: 20px;
    height: 20px;
    margin-right: 10px;
 }
 .plan-card ul{
    margin-left: 35px;
    margin-top: 30px;
 }
 .plan-card li{
    list-style: none;
    text-align: left;
    padding-bottom: 10px;
    display: flex;
 }
 .get-started{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
 }