/* for font family  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* .dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

/* shared style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}


.disply-sizing {
    max-width: 1060px;
    margin: 0 auto;

}

.shape-text {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 4rem;
}

/* shared style  */

/* header section style  */

.header-container {
    max-width: 1440px;
    height: 100%;
    background-image: linear-gradient(rgb(22, 22, 22), rgb(35, 35, 35), rgb(9, 9, 9));
}

/* nav menu section  */

.hamburger-icon {
    height: 24px;
    width: 24px;
    display: none;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

.nav-item {
    list-style: none;
    padding: 8px 20px;
    margin-right: 27px;
    border-radius: 46px;
    margin: 4px;
}

.home {
    background-color: rgb(230, 83, 60);
    margin: 4px;
}

.nav-item:hover {
    background-color: rgb(230, 83, 60);
}

.nav-items ul {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    font-weight: 400;
    color: white;
}


.site-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;

}

/* banner section design  */
.banner-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 167px;
}

.banner-content {
    width: 520px;
    height: 100%;
}

.banner-image img {
    height: 100%;
    width: 100%;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    font-weight: 800;
    /* margin-top: 90px; */
}

.banner-description {
    margin: 28px 0px;
}

/* button section  */
.banner-btn {
    display: flex;
    gap: 24px;
}

.primary-btn,
.secondary-btn {
    background-color: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
}

.secondary-btn {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

/* image size boxes style  */
.first-transparent-box,
.second-transparent-box {
    position: absolute;
    height: 96px;
    width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    top: 510px;
    right: 400px;
}

.second-transparent-box {
    background: rgba(255, 255, 255, 0.1);
    top: 250px;
    right: 40px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    padding-left: 24px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 23px;
}

.transparent-text {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.transparent-text-2 {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.transparent-text3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}

/* your habbit section start here  */
.your-habbit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 100px 0px;
}

.habbit-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 54px;
    gap: 45px;
}

.image-child {
    width: 231px;
    height: 274px;
}

.image-child img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.habbit-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin: 14px 0px;
}

.habbit-description {
    width: 671px;
    margin: 14px 0px;
}

.habbit-image-container h3 {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 0px;
}

/* run extra section start here  */
.run-extra-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 18px;
    width: 100%;
    height: 400px;
    background: rgb(34, 34, 34);
}

.run-extra-content {
    padding-left: 50px;
    width: 50%;
}

.run-extra-title {
    font-size: 3.5rem;
    font-weight: 800;
}

.run-extra-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin: 28px 0px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.run-extra-img img {
    width: 366px;
    height: 312px;
    border-radius: 16px;
}

.run-extra-second-img {
    display: none;
}

/* training section start here  */
.training-container {
    height: 581px;
    border: 2px solid white;
    margin: 100px 0px;
}

.training-content {
    width: 671PX;
}

.training-content h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.training-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 58px;

}

.training-box {
    width: 100%;
    height: 200px;
    border: 2px solid aquamarine;
    /* background-image: linear-gradient(180deg, rgba(0, 213, 255, 0.151), transparent), url("./images/exercise6.jpg"); */
    background-repeat: no-repeat;
}

/* bmi section start here  */
.bmi-text {
    margin: 80px 0px;
    width: 671px;
    padding-left: 195px;
}

.bmi-text h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-container {
    max-width: 1440px;
    height: 100%;
    background: rgb(34, 34, 34);
    margin: 100px 0px;

}


.bmi-first-side table,
tr,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 20px;
}

.bmi-table thead {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.bmi-cal-text {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 50px;
}

.bmi-child-container {
    height: 100%;
    border: 0.1px solid rgba(0, 0, 0, 0);
}

.bmi-child {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* bmi second side design  */
.bmi-second-side {
    width: 577px;
}

.bmi-second-side input,
#gender {
    width: 270px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin: 5px;
    border: none;

}

.input-5th {
    display: block;
    height: 48px;
    width: 555px;
    margin: 5px 0px 34px 5px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.bmi-second-side input,
select {
    color: rgb(8, 8, 8);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.second-side-content h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;

}

.second-side-content p {
    margin-bottom: 34px;
}